*{
  padding: 0;
  margin: 0;
}
p{
  font-family: 'Open Sans', sans-serif;
}
h1 h2{
  font-family: 'Raleway', sans-serif;
}
.Navlist{
  display: flex;
  
}
.Navbar{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-family: 'Raleway', sans-serif;
}
.navlink{
  margin-left: 2rem;
  list-style-type: none; 
  cursor: pointer;
}
.navlink:hover{
  color: hsl(224, 93%, 58%);
}

img{
  width: 100%;
}
.section1{
  text-align: center;
  padding: 2rem;

}
.section1-input{
  padding: .5rem 0 .5rem .5rem;
  width: 100%;
  border-radius: 5px;
border: 1px solid hsl(0, 0%, 75%);
  margin: 1rem 0;
  color: hsl(0, 0%, 75%);
}
.section1-btn{
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  border: none;
  width: 100%;
  padding: .5rem 0;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}
.section1-btn:hover{
  background-color: hsl(224, 89%, 66%);
}

.section2{
  margin-top: 5rem;
  background: url(./images/bg-curve-mobile.svg) no-repeat;
  object-fit: cover;
  background-color: hsl(240, 75%, 98%);
  padding: 2rem;
}
.section2 h2{
  text-align: center;
  color: #07043B;
  margin: 5rem 0 2rem 0;
}
.section2-para{
  color: hsl(238, 22%, 44%);
  
}
.fylo-text{
  color: hsl(170, 45%, 43%);
  text-decoration: underline;
  text-align: center;
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  
}
.fylo-text:hover{
  color: hsl(170, 56%, 71%);
}

.fylo-text img{
  width: 20px;
  margin-left: .5rem;
}
.badge{
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: #07043B;
  font-size: 0.8rem;
}
.badge img{
  width: 20px;
}
.profile{
  display: flex;
  margin-top: 1rem;
}
.profile-img img{
  border-radius: 50%;
  width: 40px;
  margin-right: 1rem;
  
}
.profile p{
  font-size: .6rem;
}
.section3{
  background-color: hsl(238, 22%, 44%);
  padding: 2rem;
  color: #fff;
}
.access{
  text-align: center;
}
.section3 p{
  padding: 2rem 0;
}

.section3-input{
  padding: .8rem 0 .8rem .5rem;
  width: 100%;
  border-radius: 5px;
border: 1px solid hsl(0, 0%, 75%);
  margin: 1rem 0;
  color: hsl(0, 0%, 75%);
}
.section3-btn{
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  border: none;
  width: 100%;
  padding: .8rem .8rem 0 0;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
}
.section3-btn:hover{
  background-color: hsl(224, 78%, 73%);
}
.footer{
  background-color: hsl(243, 87%, 12%);
  padding: 2rem;
  color: #fff;
}
.footer-logo img{
  width: 70%;
}
.logo-icon{
  display: flex;
  margin: 2rem 0;
}
.logo-icon img{
  width: 20px;
  margin-right: 1rem;
}

.footer-list{
  list-style-type: none;
  margin: 2rem 0;
}
.footer-link:hover{
  color:hsl(224, 93%, 58%)
}
.footer-list li{
  padding: .5rem 0;
}
.header-text{
  color:#07043B
}
.desktop-img{
  display: none;
}
.social{
  border: 1px solid #fff;
  border-radius:  50%;
  padding: .5rem;
  color: #fff;
  margin-left: 1rem;
  
}
.social:hover{
  color: #2351DC;
  border: 1px solid #2351DC;
}
.social-container{
  text-align: center;
}
.acknowledgement{
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.acknowledgement a{
  color:hsl(170, 45%, 43%)
}
@media screen and (min-width: 700px) {
  .section3{
    display: flex;
    padding: 5rem;
  }
  .footer-flex{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
  }
  .social-container{
    margin-top: 3rem;
    text-align: left;
  }
  .Navbar{
    padding: 2rem 5rem;
  }
  .access{
    width: 50%;
    text-align: left;
  }
  .desktop-img{
    display: block;
    width: 50%;
  }
  .access p{
    width: 60%
  }
  .access-form{
    width: 50%;
  }

  .section3-input{
    width: 70%;
    
  }
  .section3-btn{
    width: 40%;
    text-align: left;
    padding: .8rem 0 .8rem .5rem;
   
  }
  .mobile-img{
    display: none;
  }
  .section1{
    display: flex;
    text-align: left;
   
  }
  .section2{
    display: flex;
    padding: 3rem 5rem;
    background: url(./images/bg-curve-desktop.svg) no-repeat;
    object-fit: cover;
    background-color: hsl(240, 75%, 98%);
  }
  .section2 h2{
    text-align: left;
  }
  .section2-para{
    padding-top: 1rem;
    width: 80%;
  }
  .fylo-text{
    justify-content: left;
  }
  .section1-input{
    width: 40%;
    padding: .8rem 0 .8rem .5rem;
  }
  .section1-btn{
    width: 40%;
    margin-left: 1rem;
    padding: .8rem 0;
  }
  .badge{
    width: 50%;
    padding: 2rem;
  }
  .header-text{
    padding: 2rem 0 0 0;
    width: 30%;
    padding: 5rem;
  }
  .header-img{
    margin-left: 10rem;
  }
  .header-text p{
    padding: 2rem 0;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
.header-text{
  width: 50%;
}
.header-img{
  margin-left: 2rem;
}
}